gradio
openai-whisper
llama-index
llama-index-llms-nvidia
llama-index-embeddings-nvidia
pymilvus
numpy
pandas
torch
pydub
python-docx
PyPDF2
tqdm
sentencepiece
regex
typing-extensions
transformers
scipy
faiss-cpu

